extends typescript.ignore

snippet ReactFC "create a React function component"
type ${1:Name}Props = {
	${2}
}

const $1 = (props: $1Props) {
	${VISUAL}$0
}
endsnippet

snippet imp_fp "imports from FP-TS"
import * as ${1:O} from 'fp-ts/lib/${VISUAL}${0:Option}' 
endsnippet

snippet imp_rd
import * as RD from '@devexperts/remote-data-ts'
endsnippet
