extends typescript.ignore
extends javascript
extends javascriptreact

snippet tap "tap"
const tap = (name: string) => <T extends unknown>(x: T) => {
	console.log(\`%c __TAP__${name}\`, 'background: cornflowerblue; color: white;',  x)	

	return x
}
endsnippet

snippet imp_fp "imports from FP-TS"
import * as ${1:O} from 'fp-ts/lib/${VISUAL}${0:Option}' 
endsnippet

snippet imp_rd
import * as RD from '@devexperts/remote-data-ts'
endsnippet
